In [1]:
import numpy as np
import pandas as pd
import glob, os    
import matplotlib.pyplot as plt

In [2]:
# 2020 data
electricity_data_2020 = pd.read_csv("dataset/electricity_data_2020.csv", index_col=None, header=0)

In [3]:
electricity_data_2020['SETTLEMENTDATE'] = pd.to_datetime(electricity_data_2020['SETTLEMENTDATE'])
electricity_data_2020 = electricity_data_2020[electricity_data_2020['SETTLEMENTDATE'] < '2020-09-01']
electricity_data_2020.sort_values(by='SETTLEMENTDATE')

      REGION      SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
2928    VIC1 2020-01-01 00:30:00      4185.32  64.76      TRADE
13248   VIC1 2020-01-01 00:30:00      4185.32  64.76      TRADE
23568   VIC1 2020-01-01 00:30:00      4185.32  64.76      TRADE
13249   VIC1 2020-01-01 01:00:00      4057.68  63.36      TRADE
23569   VIC1 2020-01-01 01:00:00      4057.68  63.36      TRADE
...      ...                 ...          ...    ...        ...
29469   VIC1 2020-08-31 23:00:00      5204.63  63.64      TRADE
19149   VIC1 2020-08-31 23:00:00      5204.63  63.64      TRADE
8830    VIC1 2020-08-31 23:30:00      5311.29  59.55      TRADE
29470   VIC1 2020-08-31 23:30:00      5311.29  59.55      TRADE
19150   VIC1 2020-08-31 23:30:00      5311.29  59.55      TRADE

[32349 rows x 5 columns]

In [4]:
electricity_data_2020_mean = electricity_data_2020.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).mean()
electricity_data_2020_mean = electricity_data_2020_mean[electricity_data_2020_mean.index.dayofweek < 5]
electricity_data_2020_mean

                     TOTALDEMAND      RRP
SETTLEMENTDATE
2020-01-01 00:00:00     4185.320   64.760
2020-01-01 01:00:00     4006.265   64.285
2020-01-01 02:00:00     3740.790   63.840
2020-01-01 03:00:00     3576.615   61.545
2020-01-01 04:00:00     3497.775   56.035
...                          ...      ...
2020-08-31 19:00:00     6646.805  140.975
2020-08-31 20:00:00     6309.310   63.680
2020-08-31 21:00:00     5924.065   60.505
2020-08-31 22:00:00     5498.950   66.060
2020-08-31 23:00:00     5257.960   61.595

[4176 rows x 2 columns]

In [5]:
electricity_data_2020_mean = electricity_data_2020_mean[(electricity_data_2020_mean.index.date.astype(str) != "2020-01-01") & (electricity_data_2020_mean.index.date.astype(str) != "2020-01-27") & (electricity_data_2020_mean.index.date.astype(str) != "2020-03-09") & (electricity_data_2020_mean.index.date.astype(str) != "2020-04-10") & (electricity_data_2020_mean.index.date.astype(str) != "2020-04-13") & (electricity_data_2020_mean.index.date.astype(str) != "2020-04-25") & (electricity_data_2020_mean.index.date.astype(str) != "2020-06-08")]
electricity_data_2020_mean

                     TOTALDEMAND      RRP
SETTLEMENTDATE
2020-01-02 00:00:00     4094.550   68.765
2020-01-02 01:00:00     3849.405   57.780
2020-01-02 02:00:00     3657.540   42.135
2020-01-02 03:00:00     3572.215   48.905
2020-01-02 04:00:00     3627.720   53.130
...                          ...      ...
2020-08-31 19:00:00     6646.805  140.975
2020-08-31 20:00:00     6309.310   63.680
2020-08-31 21:00:00     5924.065   60.505
2020-08-31 22:00:00     5498.950   66.060
2020-08-31 23:00:00     5257.960   61.595

[4032 rows x 2 columns]

In [6]:
electricity_data_2020_mean.index = electricity_data_2020_mean.index.time
electricity_data_2020_mean.index.names = ['SETTLEMENTDATE']
electricity_data_2020_mean

                TOTALDEMAND      RRP
SETTLEMENTDATE
00:00:00           4094.550   68.765
01:00:00           3849.405   57.780
02:00:00           3657.540   42.135
03:00:00           3572.215   48.905
04:00:00           3627.720   53.130
...                     ...      ...
19:00:00           6646.805  140.975
20:00:00           6309.310   63.680
21:00:00           5924.065   60.505
22:00:00           5498.950   66.060
23:00:00           5257.960   61.595

[4032 rows x 2 columns]

In [7]:
electricity_data_2020_max = electricity_data_2020.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).max()
electricity_data_2020_max = electricity_data_2020_max[electricity_data_2020_max.index.dayofweek < 5]

electricity_data_2020_max = electricity_data_2020_max[(electricity_data_2020_max.index.date.astype(str) != "2020-01-01") & (electricity_data_2020_max.index.date.astype(str) != "2020-01-27") & (electricity_data_2020_max.index.date.astype(str) != "2020-03-09") & (electricity_data_2020_max.index.date.astype(str) != "2020-04-10") & (electricity_data_2020_max.index.date.astype(str) != "2020-04-13") & (electricity_data_2020_max.index.date.astype(str) != "2020-04-25") & (electricity_data_2020_max.index.date.astype(str) != "2020-06-08")]

electricity_data_2020_max.index = electricity_data_2020_max.index.time
electricity_data_2020_max.index.names = ['SETTLEMENTDATE']
electricity_data_2020_max

               REGION  TOTALDEMAND     RRP PERIODTYPE
SETTLEMENTDATE
00:00:00         VIC1      4179.68   70.44      TRADE
01:00:00         VIC1      3890.59   65.53      TRADE
02:00:00         VIC1      3698.75   43.61      TRADE
03:00:00         VIC1      3575.64   50.46      TRADE
04:00:00         VIC1      3666.17   55.38      TRADE
...               ...          ...     ...        ...
19:00:00         VIC1      6702.64  165.21      TRADE
20:00:00         VIC1      6383.29   73.70      TRADE
21:00:00         VIC1      6005.88   64.17      TRADE
22:00:00         VIC1      5642.30   77.79      TRADE
23:00:00         VIC1      5311.29   63.64      TRADE

[4032 rows x 4 columns]

In [8]:
electricity_data_2020_min = electricity_data_2020.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).min()
electricity_data_2020_min = electricity_data_2020_min[electricity_data_2020_min.index.dayofweek < 5]

electricity_data_2020_min = electricity_data_2020_min[(electricity_data_2020_min.index.date.astype(str) != "2020-01-01") & (electricity_data_2020_min.index.date.astype(str) != "2020-01-27") & (electricity_data_2020_min.index.date.astype(str) != "2020-03-09") & (electricity_data_2020_min.index.date.astype(str) != "2020-04-10") & (electricity_data_2020_min.index.date.astype(str) != "2020-04-13") & (electricity_data_2020_min.index.date.astype(str) != "2020-04-25") & (electricity_data_2020_min.index.date.astype(str) != "2020-06-08")]

electricity_data_2020_min.index = electricity_data_2020_min.index.time
electricity_data_2020_min.index.names = ['SETTLEMENTDATE']
electricity_data_2020_min

               REGION  TOTALDEMAND     RRP PERIODTYPE
SETTLEMENTDATE
00:00:00         VIC1      4009.42   67.09      TRADE
01:00:00         VIC1      3808.22   50.03      TRADE
02:00:00         VIC1      3616.33   40.66      TRADE
03:00:00         VIC1      3568.79   47.35      TRADE
04:00:00         VIC1      3589.27   50.88      TRADE
...               ...          ...     ...        ...
19:00:00         VIC1      6590.97  116.74      TRADE
20:00:00         VIC1      6235.33   53.66      TRADE
21:00:00         VIC1      5842.25   56.84      TRADE
22:00:00         VIC1      5355.60   54.33      TRADE
23:00:00         VIC1      5204.63   59.55      TRADE

[4032 rows x 4 columns]

In [9]:
electricity_data_2020_mean['TOTALDEMAND_MIN'] = electricity_data_2020_min['TOTALDEMAND']
electricity_data_2020_mean['TOTALDEMAND_MAX'] = electricity_data_2020_max['TOTALDEMAND']
electricity_data_2020_mean

/Users/gazzaazhari/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/gazzaazhari/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                TOTALDEMAND      RRP  TOTALDEMAND_MIN  TOTALDEMAND_MAX
SETTLEMENTDATE
00:00:00           4094.550   68.765          4009.42          4179.68
01:00:00           3849.405   57.780          3808.22          3890.59
02:00:00           3657.540   42.135          3616.33          3698.75
03:00:00           3572.215   48.905          3568.79          3575.64
04:00:00           3627.720   53.130          3589.27          3666.17
...                     ...      ...              ...              ...
19:00:00           6646.805  140.975          6590.97          6702.64
20:00:00           6309.310   63.680          6235.33          6383.29
21:00:00           5924.065   60.505          5842.25          6005.88
22:00:00           5498.950   66.060          5355.60          5642.30
23:00:00           5257.960   61.595          5204.63          5311.29

[4032 rows x 4 columns]

In [10]:
electricity_data_2020_mean.to_csv('./compiled_data/electricity_data_2020_weekdays_mean_max_min.csv')

In [11]:
# public holiday

In [12]:
electricity_data_2020_day_off_mean = electricity_data_2020.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).mean()
# weekend
electricity_data_2020_day_off_mean = electricity_data_2020_day_off_mean[(electricity_data_2020_day_off_mean.index.dayofweek > 4) | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-01-01") | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-01-27") | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-03-09") | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-04-10") | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-04-13") | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-04-25") | (electricity_data_2020_day_off_mean.index.date.astype(str) == "2020-06-08")]
electricity_data_2020_day_off_mean

                     TOTALDEMAND     RRP
SETTLEMENTDATE
2020-01-01 00:00:00     4185.320  64.760
2020-01-01 01:00:00     4006.265  64.285
2020-01-01 02:00:00     3740.790  63.840
2020-01-01 03:00:00     3576.615  61.545
2020-01-01 04:00:00     3497.775  56.035
...                          ...     ...
2020-08-30 19:00:00     5382.305  44.640
2020-08-30 20:00:00     5099.450  36.050
2020-08-30 21:00:00     4861.740  32.710
2020-08-30 22:00:00     4608.345  29.065
2020-08-30 23:00:00     4501.245  33.355

[1824 rows x 2 columns]

In [13]:
# electricity_data_2020_day_off_mean.to_csv('./compiled_data/electricity_data_2020_day_off_mean.csv')
electricity_data_2020_day_off_max = electricity_data_2020.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).max()
# weekend
electricity_data_2020_day_off_max = electricity_data_2020_day_off_max[(electricity_data_2020_day_off_max.index.dayofweek > 4) | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-01-01") | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-01-27") | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-03-09") | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-04-10") | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-04-13") | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-04-25") | (electricity_data_2020_day_off_max.index.date.astype(str) == "2020-06-08")]
electricity_data_2020_day_off_max

                    REGION  TOTALDEMAND    RRP PERIODTYPE
SETTLEMENTDATE
2020-01-01 00:00:00   VIC1      4185.32  64.76      TRADE
2020-01-01 01:00:00   VIC1      4057.68  65.21      TRADE
2020-01-01 02:00:00   VIC1      3792.25  64.45      TRADE
2020-01-01 03:00:00   VIC1      3602.61  61.91      TRADE
2020-01-01 04:00:00   VIC1      3504.19  58.32      TRADE
...                    ...          ...    ...        ...
2020-08-30 19:00:00   VIC1      5483.64  49.95      TRADE
2020-08-30 20:00:00   VIC1      5154.04  36.39      TRADE
2020-08-30 21:00:00   VIC1      4928.61  33.83      TRADE
2020-08-30 22:00:00   VIC1      4688.26  30.70      TRADE
2020-08-30 23:00:00   VIC1      4576.47  36.28      TRADE

[1824 rows x 4 columns]

In [14]:
electricity_data_2020_day_off_min = electricity_data_2020.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).min()
# weekend
electricity_data_2020_day_off_min = electricity_data_2020_day_off_min[(electricity_data_2020_day_off_min.index.dayofweek > 4) | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-01-01") | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-01-27") | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-03-09") | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-04-10") | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-04-13") | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-04-25") | (electricity_data_2020_day_off_min.index.date.astype(str) == "2020-06-08")]
electricity_data_2020_day_off_min

                    REGION  TOTALDEMAND    RRP PERIODTYPE
SETTLEMENTDATE
2020-01-01 00:00:00   VIC1      4185.32  64.76      TRADE
2020-01-01 01:00:00   VIC1      3954.85  63.36      TRADE
2020-01-01 02:00:00   VIC1      3689.33  63.23      TRADE
2020-01-01 03:00:00   VIC1      3550.62  61.18      TRADE
2020-01-01 04:00:00   VIC1      3491.36  53.75      TRADE
...                    ...          ...    ...        ...
2020-08-30 19:00:00   VIC1      5280.97  39.33      TRADE
2020-08-30 20:00:00   VIC1      5044.86  35.71      TRADE
2020-08-30 21:00:00   VIC1      4794.87  31.59      TRADE
2020-08-30 22:00:00   VIC1      4528.43  27.43      TRADE
2020-08-30 23:00:00   VIC1      4426.02  30.43      TRADE

[1824 rows x 4 columns]

In [15]:
electricity_data_2020_day_off_mean['TOTALDEMAND_MIN'] = electricity_data_2020_day_off_min['TOTALDEMAND']
electricity_data_2020_day_off_mean['TOTALDEMAND_MAX'] = electricity_data_2020_day_off_max['TOTALDEMAND']

In [16]:
electricity_data_2020_day_off_mean

                     TOTALDEMAND     RRP  TOTALDEMAND_MIN  TOTALDEMAND_MAX
SETTLEMENTDATE
2020-01-01 00:00:00     4185.320  64.760          4185.32          4185.32
2020-01-01 01:00:00     4006.265  64.285          3954.85          4057.68
2020-01-01 02:00:00     3740.790  63.840          3689.33          3792.25
2020-01-01 03:00:00     3576.615  61.545          3550.62          3602.61
2020-01-01 04:00:00     3497.775  56.035          3491.36          3504.19
...                          ...     ...              ...              ...
2020-08-30 19:00:00     5382.305  44.640          5280.97          5483.64
2020-08-30 20:00:00     5099.450  36.050          5044.86          5154.04
2020-08-30 21:00:00     4861.740  32.710          4794.87          4928.61
2020-08-30 22:00:00     4608.345  29.065          4528.43          4688.26
2020-08-30 23:00:00     4501.245  33.355          4426.02          4576.47

[1824 rows x 4 columns]

In [17]:
electricity_data_2020_day_off_mean.index = electricity_data_2020_day_off_mean.index.time
electricity_data_2020_day_off_mean.index.names = ['SETTLEMENTDATE']
electricity_data_2020_day_off_mean

                TOTALDEMAND     RRP  TOTALDEMAND_MIN  TOTALDEMAND_MAX
SETTLEMENTDATE
00:00:00           4185.320  64.760          4185.32          4185.32
01:00:00           4006.265  64.285          3954.85          4057.68
02:00:00           3740.790  63.840          3689.33          3792.25
03:00:00           3576.615  61.545          3550.62          3602.61
04:00:00           3497.775  56.035          3491.36          3504.19
...                     ...     ...              ...              ...
19:00:00           5382.305  44.640          5280.97          5483.64
20:00:00           5099.450  36.050          5044.86          5154.04
21:00:00           4861.740  32.710          4794.87          4928.61
22:00:00           4608.345  29.065          4528.43          4688.26
23:00:00           4501.245  33.355          4426.02          4576.47

[1824 rows x 4 columns]

In [18]:
electricity_data_2020_day_off_mean.to_csv('./compiled_data/electricity_data_2020_day_off_mean.csv')