In [1]:
import numpy as np
import pandas as pd
import glob, os    
import matplotlib.pyplot as plt

In [2]:
# 2019 data
electricity_data_2019 = pd.read_csv("dataset/electricity_data_2019.csv", index_col=None, header=0)

In [3]:
electricity_data_2019['SETTLEMENTDATE'] = pd.to_datetime(electricity_data_2019['SETTLEMENTDATE'])
electricity_data_2019 = electricity_data_2019[electricity_data_2019['SETTLEMENTDATE'] < '2019-09-01']
electricity_data_2019.sort_values(by='SETTLEMENTDATE')

     REGION      SETTLEMENTDATE  TOTALDEMAND     RRP PERIODTYPE
7248   VIC1 2019-01-01 00:30:00      4286.24   71.49      TRADE
7249   VIC1 2019-01-01 01:00:00      4136.24   72.62      TRADE
7250   VIC1 2019-01-01 01:30:00      4049.07   74.28      TRADE
7251   VIC1 2019-01-01 02:00:00      3884.78   71.19      TRADE
7252   VIC1 2019-01-01 02:30:00      3759.46   67.65      TRADE
...     ...                 ...          ...     ...        ...
4314   VIC1 2019-08-31 21:30:00      5045.00  106.96      TRADE
4315   VIC1 2019-08-31 22:00:00      4911.24  108.75      TRADE
4316   VIC1 2019-08-31 22:30:00      4792.16  113.73      TRADE
4317   VIC1 2019-08-31 23:00:00      4736.72  103.11      TRADE
4318   VIC1 2019-08-31 23:30:00      4900.60  117.88      TRADE

[11663 rows x 5 columns]

In [4]:
electricity_data_2019_mean = electricity_data_2019.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).mean()
electricity_data_2019_mean = electricity_data_2019_mean[electricity_data_2019_mean.index.dayofweek < 5]
electricity_data_2019_mean

                     TOTALDEMAND      RRP
SETTLEMENTDATE
2019-01-01 00:00:00     4286.240   71.490
2019-01-01 01:00:00     4092.655   73.450
2019-01-01 02:00:00     3822.120   69.420
2019-01-01 03:00:00     3645.600   63.475
2019-01-01 04:00:00     3593.035   50.535
...                          ...      ...
2019-08-30 19:00:00     6492.125  352.170
2019-08-30 20:00:00     6286.935  292.610
2019-08-30 21:00:00     6017.070  214.260
2019-08-30 22:00:00     5628.665  191.345
2019-08-30 23:00:00     5380.760  127.985

[4176 rows x 2 columns]

In [5]:
electricity_data_2019_mean = electricity_data_2019_mean[(electricity_data_2019_mean.index.date.astype(str) != "2019-01-01") & (electricity_data_2019_mean.index.date.astype(str) != "2019-01-28") & (electricity_data_2019_mean.index.date.astype(str) != "2019-03-11") & (electricity_data_2019_mean.index.date.astype(str) != "2019-04-19") & (electricity_data_2019_mean.index.date.astype(str) != "2019-04-22") & (electricity_data_2019_mean.index.date.astype(str) != "2019-04-25") & (electricity_data_2019_mean.index.date.astype(str) != "2019-06-10")]
electricity_data_2019_mean

                     TOTALDEMAND      RRP
SETTLEMENTDATE
2019-01-02 00:00:00     4163.775   77.990
2019-01-02 01:00:00     3888.525   60.035
2019-01-02 02:00:00     3675.580   43.010
2019-01-02 03:00:00     3575.575   53.985
2019-01-02 04:00:00     3627.810   61.045
...                          ...      ...
2019-08-30 19:00:00     6492.125  352.170
2019-08-30 20:00:00     6286.935  292.610
2019-08-30 21:00:00     6017.070  214.260
2019-08-30 22:00:00     5628.665  191.345
2019-08-30 23:00:00     5380.760  127.985

[4008 rows x 2 columns]

In [6]:
electricity_data_2019_mean.index = electricity_data_2019_mean.index.time
electricity_data_2019_mean.index.names = ['SETTLEMENTDATE']
electricity_data_2019_mean

                TOTALDEMAND      RRP
SETTLEMENTDATE
00:00:00           4163.775   77.990
01:00:00           3888.525   60.035
02:00:00           3675.580   43.010
03:00:00           3575.575   53.985
04:00:00           3627.810   61.045
...                     ...      ...
19:00:00           6492.125  352.170
20:00:00           6286.935  292.610
21:00:00           6017.070  214.260
22:00:00           5628.665  191.345
23:00:00           5380.760  127.985

[4008 rows x 2 columns]

In [7]:
electricity_data_2019_max = electricity_data_2019.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).max()
electricity_data_2019_max = electricity_data_2019_max[electricity_data_2019_max.index.dayofweek < 5]

electricity_data_2019_max = electricity_data_2019_max[(electricity_data_2019_max.index.date.astype(str) != "2019-01-01") & (electricity_data_2019_max.index.date.astype(str) != "2019-01-28") & (electricity_data_2019_max.index.date.astype(str) != "2019-03-11") & (electricity_data_2019_max.index.date.astype(str) != "2019-04-19") & (electricity_data_2019_max.index.date.astype(str) != "2019-04-22") & (electricity_data_2019_max.index.date.astype(str) != "2019-04-25") & (electricity_data_2019_max.index.date.astype(str) != "2019-06-10")]

# electricity_data_2019_max.index = electricity_data_2019_max.index.time
# electricity_data_2019_max.index.names = ['SETTLEMENTDATE']
electricity_data_2019_max

                    REGION  TOTALDEMAND     RRP PERIODTYPE
SETTLEMENTDATE
2019-01-02 00:00:00   VIC1      4265.67   79.87      TRADE
2019-01-02 01:00:00   VIC1      3926.23   62.54      TRADE
2019-01-02 02:00:00   VIC1      3716.39   43.01      TRADE
2019-01-02 03:00:00   VIC1      3590.59   55.44      TRADE
2019-01-02 04:00:00   VIC1      3673.10   62.72      TRADE
...                    ...          ...     ...        ...
2019-08-30 19:00:00   VIC1      6553.59  376.05      TRADE
2019-08-30 20:00:00   VIC1      6351.65  313.33      TRADE
2019-08-30 21:00:00   VIC1      6089.19  250.55      TRADE
2019-08-30 22:00:00   VIC1      5753.02  203.13      TRADE
2019-08-30 23:00:00   VIC1      5448.73  140.56      TRADE

[4008 rows x 4 columns]

In [8]:
electricity_data_2019_min = electricity_data_2019.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).min()
electricity_data_2019_min = electricity_data_2019_min[electricity_data_2019_min.index.dayofweek < 5]

electricity_data_2019_min = electricity_data_2019_min[(electricity_data_2019_min.index.date.astype(str) != "2019-01-01") & (electricity_data_2019_min.index.date.astype(str) != "2019-01-28") & (electricity_data_2019_min.index.date.astype(str) != "2019-03-11") & (electricity_data_2019_min.index.date.astype(str) != "2019-04-19") & (electricity_data_2019_min.index.date.astype(str) != "2019-04-22") & (electricity_data_2019_min.index.date.astype(str) != "2019-04-25") & (electricity_data_2019_min.index.date.astype(str) != "2019-06-10")]

electricity_data_2019_min.index = electricity_data_2019_min.index.time
electricity_data_2019_min.index.names = ['SETTLEMENTDATE']
electricity_data_2019_min

               REGION  TOTALDEMAND     RRP PERIODTYPE
SETTLEMENTDATE
00:00:00         VIC1      4061.88   76.11      TRADE
01:00:00         VIC1      3850.82   57.53      TRADE
02:00:00         VIC1      3634.77   43.01      TRADE
03:00:00         VIC1      3560.56   52.53      TRADE
04:00:00         VIC1      3582.52   59.37      TRADE
...               ...          ...     ...        ...
19:00:00         VIC1      6430.66  328.29      TRADE
20:00:00         VIC1      6222.22  271.89      TRADE
21:00:00         VIC1      5944.95  177.97      TRADE
22:00:00         VIC1      5504.31  179.56      TRADE
23:00:00         VIC1      5312.79  115.41      TRADE

[4008 rows x 4 columns]

In [9]:
electricity_data_2019_mean['TOTALDEMAND_MIN'] = electricity_data_2019_min['TOTALDEMAND']
electricity_data_2019_mean['TOTALDEMAND_MAX'] = electricity_data_2019_max['TOTALDEMAND']

/Users/gazzaazhari/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/gazzaazhari/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
electricity_data_2019_mean.to_csv('./compiled_data/electricity_data_2019_weekdays_mean_max_min.csv')

In [11]:
# weekend and public holidays

In [12]:
electricity_data_2019_day_off_mean = electricity_data_2019.groupby(pd.Grouper(key='SETTLEMENTDATE', freq='1H')).mean()
# weekend
electricity_data_2019_day_off_mean = electricity_data_2019_day_off_mean[(electricity_data_2019_day_off_mean.index.dayofweek > 4) | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-01-01") | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-01-28") | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-03-11") | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-04-19") | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-04-22") | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-04-25") | (electricity_data_2019_day_off_mean.index.date.astype(str) == "2019-06-10")]
electricity_data_2019_day_off_mean

In [15]:
electricity_data_2019_day_off_mean.to_csv('./compiled_data/electricity_data_2019_days_off_mean_max_min.csv')